upstream {{ application_name }}_wsgi_server {
  server unix:{{ virtualenv_path }}/run/gunicorn.sock fail_timeout=0;
}


server {
    listen    80;
    server_name         {{ nginx_server_name }};
    
    location '/.well-known/acme-challenge' {
        default_type "text/plain";
        root              {{ project_path }};
    }
    
    location / {
        rewrite     ^ https://$server_name$request_uri? permanent;
    }
}

server {
    listen              443;
    server_name         {{ nginx_server_name }};
    
    ssl on;
    {% if nginx_use_letsencrypt and letsencrypt_generated %}
    ssl_certificate     {{ letsencrypt_dir }}/{{ letsencrypt_cert_filename }};
    ssl_certificate_key {{ letsencrypt_dir }}/{{ letsencrypt_privkey_filename }};
    {% else %}
    ssl_certificate     {{ nginx_ssl_dest_dir }}/{{ application_name }}.crt;
    ssl_certificate_key {{ nginx_ssl_dest_dir }}/{{ application_name }}.key;
    {% endif %}
    
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers ECDH+AESGCM:ECDH+AES256:ECDH+AES128:DH+3DES:!ADH:!AECDH:!MD5;
    ssl_prefer_server_ciphers on;
    
    {% if nginx_strong_dh_group %}
    ssl_dhparam          /etc/ssl/certs/dhparams.pem;
    {% endif %}
    
    ssl_session_cache shared:SSL:20m;
    ssl_session_timeout 180m;
    
    # Later requests should always be HTTPS
    add_header Strict-Transport-Security "max-age=31536000" always;

    client_max_body_size 4G;

    access_log {{ nginx_access_log_file }};
    error_log {{ nginx_error_log_file }};
    
    server_tokens off;
    
    if ($host !~* ^({{ accepted_hosts }})$ ) {
        return 444;
    }
    
    location /static/ {
        expires max;
        add_header Pragma public;
        add_header Cache-Control "public";
        log_not_found off;
        access_log off;
        alias   {{ nginx_static_dir }};
    }

    location /media/ {
        alias   {{ nginx_media_dir }};
    }

    location / {
        if (-f {{ virtualenv_path }}/maintenance_on.html) {
            return 503;
        }

        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header Host $http_host;
        proxy_redirect off;

        # Try to serve static files from nginx, no point in making an
        # *application* server like Unicorn/Rainbows! serve static files.
        if (!-f $request_filename) {
            proxy_pass http://{{ application_name }}_wsgi_server;
            break;
        }
    }

    
    # Error pages
    error_page 500 502 504 /500.html;
    location = /500.html {
        root {{ project_path }}/{{ application_name }}/templates/;
    }

    error_page 503 /maintenance_on.html;
    location = /maintenance_on.html {
        root {{ virtualenv_path }}/;
    }
}
